.container {
  background-color: rgb(124, 27, 209);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-box {
  background-color: white;
  padding: 100px;
  border-radius: 10px;
  width: 500vh;
  height: 100%;
  margin: 30px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.title,
.upcoming-event {
  position: absolute;
  left: 50px;
  top: 15px;
  margin: 0;
  color: black;
}

.event-filter {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-left: 115vh;
}

.add-event-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.add-event-btn:hover {
  background-color: #45a049;
}
